container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  02wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  99customize:
    command: "scripts/customize.sh"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: rvusite.settings
  aws:elasticbeanstalk:container:python:
    StaticFiles: /static/=static/
